body{
    align-items: center;
    text-align: center;
    font-size: 18px;
    background-color: #996633;
    height: 100%;
}

.user {
    align-items: center;
    display: inline-block;
    max-width: 340px;
    position: absolute;
    margin: auto;
    margin-top: 225px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 100%;
  }
  
  .user__header {
    align-items: center;
    text-align: center;
    opacity: 100%;
  }
  
  .user__title {
    align-items: center;
    font-size: 30px;
    margin-bottom: -10px;
    font-weight: 500;
    color: white;
  }
  
  .form {
    font-size: 20px;
    align-items: center;
    margin-top: 40px;
    border-radius: 6px;
    overflow: hidden;
    opacity: 100%;
  }
  
  .form--no {
    align-items: center;

  }
  
  .form__input {
    align-items: center;
    display: block;
    width: 100%;
    padding: 20px;
    border: 0;
    outline: 0;
  }
  
  .form__input:focus {
    background: #f7f7f7;
  }
  
  .btn {
    align-items: center;
    display: block;
    width: 100%;
    padding: 20px;
    outline: 0;
    border: 0;
    color: white;
    background: #2d87cc;
    font-size: 15px;
  }
  
  .btn:hover {
    background: #a09486;
  }