<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Login And Registration Form</title>
    <link rel="stylesheet" href="/styles/css/mesa.css">
</head>
    <body>
        <div class="general">
            <p th:text="${id}"/>
            <p th:text="${nome}"/>
            <p th:text="${email}"/>
            <div class="container-mestre">
                <!--maximo 13 salas -->
                <div class="image-create-room">
                    <img src="/styles/images/temporaryPlus.jpg">
                </div>
                <div class="create-room">
                    <tr th:each="mesa: ${mesas}">
                        <form id="formMestre" method="POST" action="/game"
                              modelAttribute="mesa" hidden>
                            <input type="text" name="idMesa" th:value="${mesa.id}" />
                            <input type="text" name="papel" value="MESTRE" />
                        </form>
                        <button type="submit" form="formMestre"><img src="/styles/images/Dice.png" /></button>

                    </tr>
                </div>
            </div>
            <div class="container-player">
                <div class="image-join-room">
                    <img src="/styles/images/temporaryPlus.jpg">
                </div>
                <div class="join-room">
                    <tr th:each="personagem: ${personagens}">
                        <form id="formPlayer" method="POST" action="/game"
                              modelAttribute="mesa" hidden>
                            <input type="text" name="idMesa" th:value="${personagem.mesa.id}" />
                            <input type="text" name="idPersonagem" th:value="${personagem.id}" />
                            <input type="text" name="papel" value="JOGADOR" />
                        </form>
                        <button type="submit" form="formPlayer"><img src="/styles/images/Dice.png" /></button>

                    </tr>
                </div>

            </div>
        </div>
        <script>
        </script>
    </body>
</html>